{% extends 'task/base.html' %}

{% block subject %}
    <h1>Tasks</h1>
{% endblock %}

{% block content %}

<p><a href="{% url 'create' %}">➕ Add Task</a></p>

{% if overdue_count > 0 %}
    <div class="alert alert-warning">
        ⚠️ You have {{ overdue_count }} overdue task{{ overdue_count|pluralize }}!
    </div>
{% endif %}

<ul>
    {% for task in tasks %}
        <li class="{% if task.is_overdue %}overdue{% endif %}">
            <strong>{{ task.title }}</strong>
            (<strong>Category:</strong> {{ task.category }})

            {% if task.due_date %}
                (<strong>Due:</strong> {{ task.due_date }})
            {% endif %}

            (<strong>Priority:</strong> {{ task.priority }})

            {% if task.recurrence %}
                (<strong>Occurrence:</strong> {{ task.recurrence }})
            {% endif %}

            {% if task.is_done %}
                ✔️
            {% endif %}

            {% if task.is_overdue %}
                <div class="alert alert-danger">
                    ⚠️ This task is overdue!
                </div>
            {% endif %}

            <a href="{% url 'update' task.id %}">Edit</a>
            <a href="{% url 'delete' task.id %}">Delete</a>
            <hr>
        </li>
    {% empty %}
        <li>No Tasks Found!</li>
    {% endfor %}
</ul>

{% endblock %}
